.answers {
  display: flex;
  flex-wrap: wrap;
}
.answers__item {
  width: 50%;
  box-sizing: border-box;
  border-bottom: 1px solid #edecec;
  padding-top: 30px;
  padding-bottom: 30px;
  @include media-breakpoint-down(xs) {
    padding: 0 !important;
    width: 100%;
    border: 0 !important;
    margin-bottom: 50px;
    text-align: center;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &:nth-child(even) {
    padding-left: 30px;
    border-left: 1px solid #edecec;
  }
  &:nth-child(odd) {
    padding-right: 30px;
  }
  &:nth-last-child(-n + 2) {
    border-bottom: 0;
  }
}
.answers__icon {
  margin-bottom: 20px;
}
.answers__text {
  line-height: 1.625rem;
}
