.audience {
  background-color: #f5f4f4;
  padding: 20px;
}

.audience__wrapper {
  padding: 20px;
  background-color: #fff;
}

.audience__header {
  margin-top: -30px;
  text-align: center;
  img {
    max-width: 100%;
  }
}

.audience__content {
  padding: 0 25px;
  @include media-breakpoint-down(md) {
    padding: 0;
  }
}
.audience__for {
  line-height: 1.625rem;
  font-weight: 700;
  margin: 30px 0;
}
.audience__act {
  text-align: center;
  margin-top: 50px;
  margin-bottom: -66px;
}
