.collapse-drop {
  padding: 30px 40px;
  position: relative;
  display: none;
  &::before {
    content: "Ответ";
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: $color-b;
    font-weight: 800;
    position: absolute;
    transform: rotate(270deg);
    left: -10px;
    top: 52px;
    opacity: 0;
    transition: opacity 0.3s;
    transition-delay: 0.3s;
  }
  p {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    line-height: 1.625rem;
    color: #6a7288;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.collapse-drop_open {
  &::before {
    opacity: 1;
  }
}
