.header {
  padding-top: 35px;
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  padding: 0 20px;
  box-sizing: border-box;
}
.header__contacts {
  padding-top: 30px;
  @include media-breakpoint-down(md) {
    padding-top: 0;
  }
}

.header__logo {
  img {
    @include media-breakpoint-down(lg) {
      max-width: 150px;
    }
  }
}
