.input-text {
  width: 100%;
  position: relative;
  input {
    width: 100%;
    box-sizing: border-box;
    border-radius: 0;
    border: 1px solid $color-a;
    outline: none;
    padding: 26px 30px;
    color: #000;
    &:disabled {
      opacity: 0.4;
    }
    &::placeholder {
      color: #12192d;
    }
  }
}
