.intro-decor {
  color: #fff;
  @include media-breakpoint-down(md) {
    color: $color-a;
  }
  &::before {
    content: "";
    background-image: url(../img/blue-background.png);
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    width: 43%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right bottom;
    @include media-breakpoint-down(xl) {
      width: 40%;
    }
    @include media-breakpoint-down(lg) {
      width: 42%;
    }
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}
