.intro {
  margin-top: 100px;
  display: flex;
  @include media-breakpoint-down(lg) {
    align-items: center;
  }
  @include media-breakpoint-down(md) {
    flex-direction: column;
  }
  @include media-breakpoint-down(xs) {
    margin: 40px 0;
  }
}
.intro__text {
  width: 46%;
  padding-right: 20px;
  box-sizing: border-box;
  @include media-breakpoint-down(lg) {
    width: 60%;
  }
  @include media-breakpoint-down(md) {
    width: 100%;
    padding-right: 0;
  }
}
.intro__video {
  width: 54%;
  position: relative;
  @include media-breakpoint-down(lg) {
    width: 40%;
  }
  @include media-breakpoint-down(md) {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
}
