.laptop {
  position: relative;
  & > img {
    @include media-breakpoint-down(xl) {
      max-width: 100%;
    }
  }
}

.laptop__screen {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 69%;
  width: 93%;
  top: 5%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
