.list-problems {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list-problems__icon {
  width: 83px;
  height: 83px;
  min-width: 83px;
  min-height: 83px;
  border: 5px solid $color-b;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  @include media-breakpoint-down(xs) {
    width: 55px;
    height: 55px;
    min-width: 55px;
    min-height: 55px;
  }
  & > span {
    width: 55px;
    height: 55px;
    background-color: #f5f4f4;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    @include media-breakpoint-down(xs) {
      width: 33px;
      height: 33px;
    }
    & > .svg-sprite {
      width: 26px;
      height: 26px;
      fill: #949cb2;
      @include media-breakpoint-down(xs) {
        width: 18px;
        height: 18px;
      }
    }
  }
  &::after,
  &::before {
    content: "";
    width: 20px;
    height: 20px;
    background-color: #fff;
    position: absolute;
    @include media-breakpoint-down(xs) {
      width: 10px;
      height: 10px;
    }
  }
  &::before {
    bottom: -5px;
    left: -5px;
  }
  &::after {
    top: -5px;
    right: -5px;
  }
}
.list-problems__text {
  padding-left: 30px;
  box-sizing: border-box;
  color: $color-a;
  line-height: 1.625rem;
  @include media-breakpoint-down(xs) {
    padding-left: 15px;
  }
}
.list-problems__item {
  display: flex;
  align-items: center;
  margin-bottom: 23px;
  &:last-child {
    margin-bottom: 0;
  }
}
