.mobheader {
  display: none;
  height: 60px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  z-index: 1000;
  @include media-breakpoint-down(sm) {
    display: block;
  }
}
.mobheader__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.mobheader__logo {
  img {
    max-width: 100px;
    @include media-breakpoint-down(xs) {
      max-width: 75px;
    }
  }
}
.mobheader__menu {
}

.mobheader__contacts {
  display: inline-flex;
  @include media-breakpoint-down(xs) {
    flex-direction: column;
  }
  a {
    white-space: nowrap;
    margin-right: 10px;
    font-weight: 600;
    @include media-breakpoint-down(xs) {
      margin-right: 0;
      font-size: 0.8rem;
      margin-bottom: 3px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
