@keyframes mobmenu-show {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}

.mobmenu {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: white;
  position: fixed;
  top: 60px;
  bottom: 0;
  right: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 60px;
  display: none;
  z-index: 1000;
  @include media-breakpoint-up(md) {
    display: none !important;
  }
}

.mobmenu__item {
  margin-bottom: 20px;
  a {
    font-size: 1.3rem;
    font-weight: 600;
    @include media-breakpoint-down(xs) {
      font-size: 1rem;
    }
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.mobmenu_show {
  display: flex;
  animation: mobmenu-show 0.3s;
}
