.modal-window {
  background-color: #fff;
  position: relative;
}

.modal-window__close {
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url(../img/close.png);
  left: calc(100% - 10px);
  bottom: calc(100% + 35px);
  cursor: pointer;
  @include media-breakpoint-down(sm) {
    left: auto;
    right: 10px;
  }
  @include media-breakpoint-down(xs) {
    top: 10px;
    background-color: #7f7f7f;
    right: 10px;
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
  }
}
