.notebook {
  position: relative;
  & > img {
    max-width: none;
    @include media-breakpoint-down(xl) {
      max-width: 100%;
    }
  }
}
.notebook__videoplace {
  position: absolute;
  width: 74%;
  height: 72%;
  max-height: 72%;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
