.order-places {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 570px;
  @include media-breakpoint-down(md) {
    margin: 0 auto;
  }
  @include media-breakpoint-down(xs) {
    flex-direction: column;
  }
}
.order-places__count {
  font-weight: 700;
  color: $color-b;
  letter-spacing: 2px;
  position: relative;
  padding-left: 10px;
  box-sizing: border-box;
  white-space: nowrap;
  @include media-breakpoint-down(xs) {
    padding-left: 0;
    margin-top: 15px;
  }
  &::before {
    content: "";
    width: 40px;
    height: 1px;
    background-color: $color-b;
    position: absolute;
    top: calc(50% - 1px);
    right: calc(100% + 10px);
    z-index: 1;

    @include media-breakpoint-down(xs) {
      display: none;
    }
  }
}
