.page-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.page-nav__item {
  font-weight: 600;
  margin-right: 40px;
  padding: 3px 0;
  @include media-breakpoint-down(lg) {
    margin-right: 20px;
  }
  &:last-child {
    margin-right: 0;
  }
}
