.promo-motiv {
  padding: 20px;
  border: 5px solid $color-b;
  @include media-breakpoint-down(xs) {
    padding: 5px;
  }
}
.promo-motiv__content {
  padding: 20px;
  background-color: #f5f4f4;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 50px;
  @include media-breakpoint-down(md) {
    flex-direction: column;
    padding-bottom: 80px;
  }
}
.promo-motiv__header {
  font-size: 2.25rem;
  line-height: 2.625rem;
  margin-bottom: 30px;
  @include media-breakpoint-down(md) {
    text-align: center;
  }
  @include media-breakpoint-down(xs) {
    font-size: 1.6rem;
    line-height: 2rem;
    margin-bottom: 30px;
  }
  b {
    font-weight: 600;
  }
}
.promo-motiv__subheader {
  font-size: 1.125rem;
  line-height: 1.75rem;
  @include media-breakpoint-down(md) {
    text-align: center;
  }
}
.promo-motiv__text {
  max-width: 616px;
  width: 100%;
  @include media-breakpoint-down(md) {
    max-width: none;
  }
}
.promo-motiv__price {
  display: inline-flex;
  align-items: flex-end;
  @include media-breakpoint-down(md) {
    margin-top: 10px;
  }
  .price-old {
    padding-bottom: 5px;
    margin-right: 25px;
  }
}

.promo-motiv__act {
  text-align: center;
  max-width: 320px;
  padding-left: 20px;
  box-sizing: border-box;
  @include media-breakpoint-down(md) {
    max-width: none;
    padding: 0;
    text-align: center;
    width: 100%;
  }
}

.promo-motiv__comment {
  line-height: 1.5rem;
  margin: 20px 0;
}

.promo-motiv-wrapper {
  margin-top: -200px;
  position: relative;
  z-index: 100;
}
