.reviews-slider-video {
  height: 100% !important;
  .swiper-slide {
    height: 100% !important;
  }
}

.reviews-slider-video__item {
  height: 100% !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
