.slider-nav {
  display: inline-flex;
  align-items: center;
}
.slider-nav__pag {
  display: inline-flex;
  padding: 0 35px;
  span {
    width: 13px;
    height: 13px;
    background-color: #edecec;
    border-radius: 50%;
    margin-right: 15px;
    transition: background-color 0.3s;
    cursor: pointer;
    opacity: 1;
    outline: none;
    &.swiper-pagination-bullet-active {
      background-color: $color-a !important;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.slider-nav__pp {
  width: 37px;
  height: 37px;
  border: 1px solid $color-a;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
  outline: none;
  &:hover {
    background-color: $color-a;
    .svg-sprite {
      fill: #fff;
    }
  }
  .svg-sprite {
    width: 7px;
    height: 11px;
    fill: $color-a;
    transition: fill 0.3s;
  }
}
.slider-nav__pp_next {
  transform: rotate(180deg);
}
