%svg-common {
	background: url("svg/sprite.view.svg") no-repeat;
}

.svg-svg_sprite_calendar_2 {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-svg_sprite_calendar_2-dims {
	width: 50px;
	height: 50px;
}

.svg-svg_sprite_cardboard_box {
	@extend %svg-common;
	background-position: 5.13347022587269% 100%;
}

.svg-svg_sprite_cardboard_box-dims {
	width: 50px;
	height: 50px;
}

.svg-svg_sprite_clock {
	@extend %svg-common;
	background-position: 10.26694045174538% 100%;
}

.svg-svg_sprite_clock-dims {
	width: 50px;
	height: 50px;
}

.svg-svg_sprite_close {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-svg_sprite_close-dims {
	width: 512px;
	height: 512px;
}

.svg-svg_sprite_denied {
	@extend %svg-common;
	background-position: 15.40041067761807% 100%;
}

.svg-svg_sprite_denied-dims {
	width: 50px;
	height: 50px;
}

.svg-svg_sprite_discount {
	@extend %svg-common;
	background-position: 20.53388090349076% 100%;
}

.svg-svg_sprite_discount-dims {
	width: 50px;
	height: 50px;
}

.svg-svg_sprite_facebook {
	@extend %svg-common;
	background-position: 40.32258064516129% 96.60377358490567%;
}

.svg-svg_sprite_facebook-dims {
	width: 32px;
	height: 32px;
}

.svg-svg_sprite_hamburger {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-svg_sprite_hamburger-dims {
	width: 512px;
	height: 512px;
}

.svg-svg_sprite_mail {
	@extend %svg-common;
	background-position: 56.74305555555556% 93.77289377289377%;
}

.svg-svg_sprite_mail-dims {
	width: 16px;
	height: 16px;
}

.svg-svg_sprite_open_close {
	@extend %svg-common;
	background-position: 54.978436899295836% 94.38831944546861%;
}

.svg-svg_sprite_open_close-dims {
	width: 19.97px;
	height: 19.56px;
}

.svg-svg_sprite_phone_1 {
	@extend %svg-common;
	background-position: 52.8% 95.16728624535315%;
}

.svg-svg_sprite_phone_1-dims {
	width: 24px;
	height: 24px;
}

.svg-svg_sprite_phone_2 {
	@extend %svg-common;
	background-position: 43.54838709677419% 96.60377358490567%;
}

.svg-svg_sprite_phone_2-dims {
	width: 32px;
	height: 32px;
}

.svg-svg_sprite_play {
	@extend %svg-common;
	background-position: 58.17856188713971% 93.67647220260464%;
}

.svg-svg_sprite_play-dims {
	width: 13.37px;
	height: 15.438px;
}

.svg-svg_sprite_prev {
	@extend %svg-common;
	background-position: 59.0951080013365% 92.75479942680431%;
}

.svg-svg_sprite_prev-dims {
	width: 6.42px;
	height: 10.007px;
}

.svg-svg_sprite_sales_performance {
	@extend %svg-common;
	background-position: 25.66735112936345% 100%;
}

.svg-svg_sprite_sales_performance-dims {
	width: 50px;
	height: 50px;
}

.svg-svg_sprite_services {
	@extend %svg-common;
	background-position: 30.80082135523614% 100%;
}

.svg-svg_sprite_services-dims {
	width: 50px;
	height: 50px;
}

.svg-svg_sprite_shortlist {
	@extend %svg-common;
	background-position: 35.93429158110883% 100%;
}

.svg-svg_sprite_shortlist-dims {
	width: 50px;
	height: 50px;
}

.svg-svg_sprite_telegram {
	@extend %svg-common;
	background-position: 46.774193548387096% 96.60377358490567%;
}

.svg-svg_sprite_telegram-dims {
	width: 32px;
	height: 32px;
}

.svg-svg_sprite_youtube {
	@extend %svg-common;
	background-position: 50% 96.60377358490567%;
}

.svg-svg_sprite_youtube-dims {
	width: 32px;
	height: 32px;
}

