.svg-svg_sprite_calendar_2 {
	background: url("svg/sprite.css-6ec581c3.svg") 0 100% no-repeat;
}

.svg-svg_sprite_calendar_2-dims {
	width: 50px;
	height: 50px;
}

.svg-svg_sprite_cardboard_box {
	background: url("svg/sprite.css-6ec581c3.svg") 5.13347022587269% 100% no-repeat;
}

.svg-svg_sprite_cardboard_box-dims {
	width: 50px;
	height: 50px;
}

.svg-svg_sprite_clock {
	background: url("svg/sprite.css-6ec581c3.svg") 10.26694045174538% 100% no-repeat;
}

.svg-svg_sprite_clock-dims {
	width: 50px;
	height: 50px;
}

.svg-svg_sprite_close {
	background: url("svg/sprite.css-6ec581c3.svg") 0 0 no-repeat;
}

.svg-svg_sprite_close-dims {
	width: 512px;
	height: 512px;
}

.svg-svg_sprite_denied {
	background: url("svg/sprite.css-6ec581c3.svg") 15.40041067761807% 100% no-repeat;
}

.svg-svg_sprite_denied-dims {
	width: 50px;
	height: 50px;
}

.svg-svg_sprite_discount {
	background: url("svg/sprite.css-6ec581c3.svg") 20.53388090349076% 100% no-repeat;
}

.svg-svg_sprite_discount-dims {
	width: 50px;
	height: 50px;
}

.svg-svg_sprite_facebook {
	background: url("svg/sprite.css-6ec581c3.svg") 40.32258064516129% 96.60377358490567% no-repeat;
}

.svg-svg_sprite_facebook-dims {
	width: 32px;
	height: 32px;
}

.svg-svg_sprite_hamburger {
	background: url("svg/sprite.css-6ec581c3.svg") 100% 0 no-repeat;
}

.svg-svg_sprite_hamburger-dims {
	width: 512px;
	height: 512px;
}

.svg-svg_sprite_mail {
	background: url("svg/sprite.css-6ec581c3.svg") 56.74305555555556% 93.77289377289377% no-repeat;
}

.svg-svg_sprite_mail-dims {
	width: 16px;
	height: 16px;
}

.svg-svg_sprite_open_close {
	background: url("svg/sprite.css-6ec581c3.svg") 54.978436899295836% 94.38831944546861% no-repeat;
}

.svg-svg_sprite_open_close-dims {
	width: 19.97px;
	height: 19.56px;
}

.svg-svg_sprite_phone_1 {
	background: url("svg/sprite.css-6ec581c3.svg") 52.8% 95.16728624535315% no-repeat;
}

.svg-svg_sprite_phone_1-dims {
	width: 24px;
	height: 24px;
}

.svg-svg_sprite_phone_2 {
	background: url("svg/sprite.css-6ec581c3.svg") 43.54838709677419% 96.60377358490567% no-repeat;
}

.svg-svg_sprite_phone_2-dims {
	width: 32px;
	height: 32px;
}

.svg-svg_sprite_play {
	background: url("svg/sprite.css-6ec581c3.svg") 58.17856188713971% 93.67647220260464% no-repeat;
}

.svg-svg_sprite_play-dims {
	width: 13.37px;
	height: 15.438px;
}

.svg-svg_sprite_prev {
	background: url("svg/sprite.css-6ec581c3.svg") 59.0951080013365% 92.75479942680431% no-repeat;
}

.svg-svg_sprite_prev-dims {
	width: 6.42px;
	height: 10.007px;
}

.svg-svg_sprite_sales_performance {
	background: url("svg/sprite.css-6ec581c3.svg") 25.66735112936345% 100% no-repeat;
}

.svg-svg_sprite_sales_performance-dims {
	width: 50px;
	height: 50px;
}

.svg-svg_sprite_services {
	background: url("svg/sprite.css-6ec581c3.svg") 30.80082135523614% 100% no-repeat;
}

.svg-svg_sprite_services-dims {
	width: 50px;
	height: 50px;
}

.svg-svg_sprite_shortlist {
	background: url("svg/sprite.css-6ec581c3.svg") 35.93429158110883% 100% no-repeat;
}

.svg-svg_sprite_shortlist-dims {
	width: 50px;
	height: 50px;
}

.svg-svg_sprite_telegram {
	background: url("svg/sprite.css-6ec581c3.svg") 46.774193548387096% 96.60377358490567% no-repeat;
}

.svg-svg_sprite_telegram-dims {
	width: 32px;
	height: 32px;
}

.svg-svg_sprite_youtube {
	background: url("svg/sprite.css-6ec581c3.svg") 50% 96.60377358490567% no-repeat;
}

.svg-svg_sprite_youtube-dims {
	width: 32px;
	height: 32px;
}

