/* 
    Глобальные стили
*/

html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  font-family: $font-a;
  color: $color-a;
}
a {
  color: $color-a;
  text-decoration: none;
  transition: color 0.3s;
  &:hover {
    color: $color-b !important;
  }
}

p {
  line-height: 1.75rem;
}
